@use "sass:map";
@import '../../../styles/variables.scss';

.storybook-logo {
  &--tiny {
    transform: scale(0.25);
  }

  &--small {
    transform: scale(0.5);
  }

  &--medium {
    transform: scale(1);
  }

  &--large {
    transform: scale(2);
  }
}
