@use "sass:map";
@import '../../../styles/variables.scss';

.storybook-footer {
  font-family: map-get($font-stack, 'footer');
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 25px;
}
