.storybook-logo-panel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 15%;
  pointer-events: none;
  z-index: 0;

  img {
    max-width: 100%;
  }

  @media (max-width: 600px) {
    max-width: 15%;
  }

  &--left {
    left: 0;
    margin: -50%;
  }

  &--right {
    right: 0;
  }
}
