@use "sass:map";
@import '../../../styles/variables.scss';

header {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    justify-content: center;
    text-align: center;
  }
}

.wrapper {
  font-family: map-get($font-stack, 'heading');
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button + button {
  margin-left: 10px;
}
